.dataTables_wrapper, 
table.dataTable {
    clear: none; 
}

.dataTables_filter{
    float:none; 
}   

table.dataTable tr.odd,
table.dataTable tr.even { 
    background-color: transparent !important; 
}

table.dataTable tr.odd td.sorting_1{
    background-color:rgb(190, 178, 255);
}

table.dataTable tr.even td.sorting_1{
    background-color: rgb(236, 232, 241);
}