*{
    font-family:"Calibri";
}

html{
    overflow-y: scroll; 
    overflow-x: hidden; 
}

body{
    background-color: #595959;
}

html, body{
    width:100%;
    margin: 0;
    padding: 0;
}

a:active, a:visited {
    color: #EE5757;
}

a:hover{
    color: #333;
}

body p{
    font-size: 1em;
}

h1, h2, h3, h4{
    margin-top: 0; 
    color: black;
    font-family: "Century Gothic";
}

#content{
    min-height: 500px;
    min-width: 900px; 
    width: 90%; 
    margin: 0 auto; 
    padding: 10px;
    background-color: #FCF7EF;
    box-shadow: 0 0 12px #FFF3E2;
}

#head{
    height: 265px;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

#navigation{
    margin: 0 auto;
    width: auto;
    border-bottom: 1px solid #ddd;
}

#navlist{
    text-align: center;
    margin: 0 auto;
    padding: 0;
    text-indent: 0;
    list-style-type: none;    
}

#navlist li{
    padding: 0 20px;
    margin: 0;
    text-indent: 0;
    display: inline;
}

#navlist li a{
    letter-spacing: -1px;
    text-decoration: none;
    color: #EE5757;
    font-size: 1.5em;
    margin-top: 20px;
}

#navlist li a:hover,
#navlist a#current{
    color: #333;
    font-size: 1.5em;
    border-bottom: 2px dashed #333;
}

#subnav{
    float: left; 
}

#beheer{
    margin-left: 15em; 
}

.lijstopmaak {
    list-style-type: square;
    padding-top: 10px;
}

#page {
    margin: 50px auto;
    min-width: 800px;
    width: 90%; 
    padding-bottom: 50px; 
}

p a:active, p a:visited{
    color: #EE5757;
}

div p a:hover{
    color: #333;
}

a,
a:visited{
    color: #EE5757;
}

a:hover{
    color: #333;
}

input[type="text"], 
input[type="password"]{
    width: 221px;
    background: transparent url('images/bgtb.jpg') no-repeat;
    color : #747862;
    height:20px;
    border:0;
    padding:4px 6px;
    margin-bottom:0px;
}

textarea{
    background-image:url('images/bgta.jpg');
    background-repeat:repeat-x;
    border:1px solid #d1c7ac;

    color:#333333;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;

    resize: none;
}

.bericht{
    border-top: solid 2px lightgrey;
    border-bottom: solid 1px lightgrey;
    padding-bottom: 10px; 
}

td{
    font-family:"Calibri";
    font-size: 1em;
}

.htmlTable a
{
    color: #EE5757;
}

.htmlTable{
    box-shadow: 0 0 5px;
}

.htmlTable th
{
    background-color: #EE5757;
    color: white;
    font-weight: bold;
}


table td, 
.htmlTable th
{
    padding: 10px 0; 
    border-bottom: solid 1px #AAA;
}

table
{
    border-collapse: collapse;
}

.error{
    color: red;
}

.succes{
    color: green; 
}

img.logo{
    margin: 0 auto; 
    display: block; 
}

#auth{ 
    text-align: right;
    font-size: 1.2em; 
}

#preview{
    border: 1px solid #4E6CA3; 
    padding: 0.5em; 
}

#formChooseItem{
    float: left; 
    padding-right: 2em; 
    margin-right: 2em; 
    border-right: 1px solid black; 
}

#calendar_wrapper{
    float: left; 
}

#calendar{
    max-width: 700px; 
}

.clearfix{
    clear: both; 
}

.fc-event-title{
    font-size: 20px !important; 
}

.fc-event-time{
    font-size:15px !important;   
}

#lectoren_list{
    list-style: none; 
}

les{
    float: left;
}

.opgenomen,
.nietopgenomen{
    display: inline-block; 
    width:10px;
    height:10px; 
}

.opgenomen{
    background-color: #0F0; 
}

.nietopgenomen{
    background-color: #F00; 
}

.footer{
    border-top: 1px solid #ddd;
    background-color: transparent;
    margin: 0 auto;
    width: auto;
    height: 160px;
}

.footerNavigatie {
    padding: 0px;
    margin-left: 10px;
    width: 125px;
    float: left;
    border-right: 1px solid #ddd;
}

.footerNavigatie ul{
    list-style: none;
    padding: 0px;
}

.footerNavigatie ul li{
    padding-bottom: 2px;
}

.contact {
    width: 350px;
    float: left;
    margin-left: 45px;
}

.social{
    width:  350px;
    padding-left: 10px;
    float: right;
    height: 160px;
    border-left: 1px solid #ddd;
}

.social ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.social ul li{
    list-style-type:none;
    display: inline;
    vertical-align: middle;
}

.fb-follow{
    margin-top: 5px;
}

.footer a:link,
.footer a:visited, 
.footer a:active { 
    letter-spacing: -1px;
    text-decoration: none;
    color: #EE5757;
}      

.footer a:hover { 
    color: #333;
    border-bottom: 2px dashed #333;
}  