/*General
---------------*/
html{
    overflow-y: scroll; 
}

body{
    background-color: #595959;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

html, body{
    width:100%;
    margin: 0;
    padding: 0;
}

.clearfix{
    clear: both; 
}

/* Links
---------------*/
a {
    color: #EE5757;
}

a:hover{
    color: #333;
}

/*Headers
---------------*/

h1, h2, h3, h4{
    margin-top: 0;
    margin-bottom: 0; 
}

h2, h3, h4{
    margin-top: 1em; 
}

/*Paragraph
---------------*/
p{
    font-size: 1em;
}


/*Lijsten
---------------*/
ul{
    list-style: none; 
    margin: 0;
    padding: 0; 
}

article ul{
    list-style:square;   
    margin: 0 0 1.625em 2.5em; 
    padding-top: 10px;
    padding-left: 1em; 
}

/*Content
---------------*/
#content{
    background-color: #FCF7EF;
    box-shadow: 0 0 12px #FFF3E2;
    min-height: 500px;
    min-width: 900px; 
    margin: 0 auto; 
    padding: 10px;
    width: 90%; 
}

/*Header
---------------*/
#header{
    height: 265px;
    overflow: hidden;
}

#authentication{ 
    text-align: right;
    font-size: 1.2em; 
}

/*Navigation
---------------*/
#nav{
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

#nav ul{
    text-align: center;
    margin: 0 auto;
    text-indent: 0;   
}

#nav li{
    padding: 0 20px;
    margin: 0;
    text-indent: 0;
    display: inline;
}

#nav a{
    letter-spacing: -1px;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 20px;
}

#nav a:hover,
#nav a.active{
    color: #333;
    border-bottom: 2px dashed #333;
}

#nav a.updated{
    font-weight: bold; 
}

/*Subnavigation
---------------*/
#subnav{
    float: left; 
}

#subnav a.active{
    font-weight: bold; 
}

#subcontent{
    margin-left: 15em; 
}

#page {
    margin: 50px auto;
    min-width: 800px;
    width: 90%; 
    padding-bottom: 50px; 
}

/*
Forms
---------------*/
input[type="text"], 
input[type="password"],
input[type="email"]{
    width: 221px;
    background: transparent url('images/bgtb.jpg') no-repeat;
    color : #747862;
    height:20px;
    border:0;
    padding:4px 6px;
    margin-bottom:0px;
}

input[type="submit"]{
    margin-top:0.5em;
}

textarea{
    background-image:url('images/bgta.jpg');
    background-repeat:repeat-x;
    border:1px solid #d1c7ac;

    color:#333333;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    resize: none;
}

/*
Tables
---------------*/
table
{
    border-collapse: collapse;
}

td{
    padding: 0.5em; 
    font-size: 1em;
}

/*
Succes and Error messages
---------------*/
.error, 
.succes, 
.notification{
    font-weight: bold;
}

.error{
    color: red;
}

.succes{
    color: green; 
}

.notification{
    color: blue; 
}

#preview{
    border: 1px solid #4E6CA3; 
    padding: 0.5em; 
}

#formChooseItem{
    float: left; 
    padding-right: 2em; 
    margin-right: 2em; 
    border-right: 1px solid black; 
}

/*FullCalendar
---------------*/
.fc-event-title{
    font-size: 20px !important; 
}

.fc-event-time{
    font-size:15px !important;   
}

#calendar_wrapper{
    float: left; 
}

#calendar{
    max-width: 600px; 
}

/*Lessen
---------------*/
.les-status
{
    display: inline-block; 
    width:10px;
    height:10px; 
}

.les-status.opgenomen{
    background-color: #0F0; 
}

.les-status.nietopgenomen{
    background-color: #F00; 
}

.les-status.toegewezen{
    background-color: #f89406;    
}

.les-status.afgekeurd{
    background-color: #bbb; 
}

/*Aanvragen
---------------*/
#aanvraag_algemeen{
    width:40%;
    margin-right: 10%; 
    float: left; 
}

#aanvraag_algemeen table{
    width: 100%; 
}

#aanvraag_lessen{
    width: 50%; 
    float: right; 
}

#subnav ul{
    list-style: none; 
    padding: 0;
}

/* Footer 
---------------*/
.footer{
    border-top: 1px solid #ddd;
    background-color: transparent;
    margin: 0 auto;
    width: auto;
    height: 160px;
}

.important-links {
    padding: 0px;
    margin-left: 10px;
    width: 125px;
    float: left;
    border-right: 1px solid #ddd;
}

.important-links ul{
    list-style: none;
    padding: 0px;
}

.important-links ul li{
    padding-bottom: 2px;
}

.contact {
    min-width: 350px;
    width:30%;
    float: left;
    margin-left: 45px;
}

.social{
    width:  350px;
    padding-left: 10px;
    float: right;
    height: 160px;
    border-left: 1px solid #ddd;
}

.social ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.social ul li{
    list-style-type:none;
    display: inline;
    vertical-align: middle;
}

.fb-follow{
    margin-top: 5px;
}

.footer a { 
    letter-spacing: -1px;
    text-decoration: none;
    color: #EE5757;
}      

.footer a:hover { 
    color: #333;
    border-bottom: 2px dashed #333;
}  


dl{
    margin: 0 0 1.625em 2.5em; 
    padding-top: 10px;
    padding-left: 1em
}

dt {
    display: list-item;
    list-style-type: square;
}

dd{
    margin-bottom: 1em; 
}

/*Images
---------------*/
img.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.logo{
    margin: 0 auto; 
    display: block; 
}